{% extends 'base.html' %}
{% block content %}

    <div class="container h-100">
        <div class="row ">
            <div class="col">
                <br>
                <br>

                <div class="d-flex justify-content-center h-100">
                    <div class="card user-card">
                        <p>Are you sure want to delete "{{ item }}"?</p>

                        <form method="POST" action="{% url 'deletecustomer' item.id %}">
                            {% csrf_token %}

                            <br>
                            <br>

                            <a href="{% url 'home' %}" class="button btn " style="float: left;background: #AD5A66;color: black">cancel</a>
                            <input type="submit" value="Submit" class="button btn"
                                   style="background: #9fa8a3;color: black!important;float: right">

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>





{% endblock %}
